<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Half-Page Full Width Slider Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="${path}css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="${path}css/half-slider.css" rel="stylesheet">
    
    <!-- Add form CSS here -->
    <link href="${path}css/estilo.css" rel="stylesheet" media="screen">

    <script LANGUAGE="JavaScript" src="${path}js/jquery-1.10.2.js"></script>
    <script LANGUAGE="JavaScript" src="${path}js/bootstrap.min.js"></script>

    <script type='text/javascript'>
        
        var elegidos = new Array();
        var diseGalleta=0;
        
        function imgFunction(objeto, url){
                        
            if(objeto.style.opacity==1){
                objeto.style.opacity=0.4;
                elegidos.push(url);
            }
            else{
                objeto.style.opacity=1;
                indice = elegidos.indexOf(url);
                if(indice!=-1)
                    elegidos.splice(indice,1);
            }
        }

            function galletaFunction(objeto, indi){
            
                if (diseGalleta==0) {     
                if(objeto.style.opacity==1){
                    objeto.style.opacity=0.4;
                    diseGalleta=indi;
                }
            

           
                else{
                    objeto.style.opacity=1;
                    diseGalleta=0;
                }

            }

            else { 
                 if(objeto.style.opacity==0.4){
                    objeto.style.opacity=1;
                    diseGalleta=0;

                 }

            

        }
    }

    function mostrarPedido(){
        var mensaje=' ';

        for (var i=0;i<elegidos.length; i++){
             mensaje=mensaje.concat("Imagen galleta" + i + ":   \n");
             mensaje = mensaje.concat(elegidos[i]);
             
        }

        mensaje=mensaje.concat("\n Modelo galleta:   " +  diseGalleta );

        alert(mensaje);
    }

    </script>




    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/socialcookies">Social Cookies</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/socialcookies/twitter">Twitter</a>
                    </li>
                    <li><a href="/socialcookies/instagram">Instangram</a>
                    </li>
                    <li><a href="/socialcookies/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    

    % if seccion == "index":
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
		% for p in range(len(fich)):
			% if p==0:
	   		 	<li data-target="#myCarousel" data-slide-to="${p}" class="active"></li>
	   		% else:
	   		 	<li data-target="#myCarousel" data-slide-to="${p}"></li>
	   		% endif
		% endfor 
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
			% for f in fich:
				% if f==fich[0]:
				    <div class="item active">
				        <div class="fill" style="background-image:url('${path}img-slider/${f}');"></div>
				        <div class="carousel-caption">
				            <h1>A Full-Width Image Slider Template</h1>
				        </div>
				    </div>
				% else:
					<div class="item">
				        <div class="fill" style="background-image:url('${path}img-slider/${f}');"></div>
				        <div class="carousel-caption">
				            <h1>A Full-Width Image Slider Template</h1>
				        </div>
				    </div>
				% endif
			% endfor 
        </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>

        <div class="container">
        </div>
	% elif seccion == "twitter":
        <div class="container">
            <div class="row section">
                <div class="col-lg-12">
                    <h1>Twitter</h1>
                </div>
            </div>
		</div>

 
	% elif seccion == "instagram":
		<div class="container">
            <div class="row section">
                <div class="col-lg-12">
				    <h1>Instagram</h1>
				    <h3>Seleccione sus fotos preferidas y nos encargaremos de hacer las galletas mas originales y sabrosas que nunca haya visto</h3>
				    <%
				    p=len(photos)
				    p_popu=len(popular)
				    %>
				    
					<div class="row">
						<div class="span4">   
						    <h4>¿Cu&aacute;l de sus fotos quiere comerse?</h4>
						    % for i in range(p):
						        <% foto= photos[i] %>
						        <div class="col-xs-6 col-md-3">
						            <a class="thumbnail">
						                <img src='${foto}'  onClick='imgFunction(this, "${foto}")' />
						            </a>
						        </div>
						    % endfor
						</div>
					</div>
					
					<div class="row">
						<div class="span4">
						     <h4>¿Cu&aacute;l de las fotos mas populares y molonas de la red quiere comerse?</h4>
						    % for i in range(p_popu):
						        <% foto= popular[i] %>
						        <div class="col-xs-4 col-md-4">
						            <a class="thumbnail">
						                <img src='${foto}'  onClick='imgFunction(this, "${foto}")' />
						            </a>
						        </div>
						    % endfor
						</div>
					</div>		 
					
					<div class="row">				                                                   
				        <h4>¿En qu&eacute; tipo de galleta las quieres?</h4>          <!-- Apuntar enlaces a imagenes directamente -->
				        
			             <img src='https://github.com/IV-GII/SocialCookies/blob/master/ENV1/webcookies/socialcookies/static/socialcookies/bootstrap/img/Galletas/Galleta1.png?raw=true'  onClick='galletaFunction(this, 1)' />
			             <img src='https://github.com/IV-GII/SocialCookies/blob/master/ENV1/webcookies/socialcookies/static/socialcookies/bootstrap/img/Galletas/Galleta2.png?raw=true'  onClick='galletaFunction(this, 2)' />
			             <img src='https://github.com/IV-GII/SocialCookies/blob/master/ENV1/webcookies/socialcookies/static/socialcookies/bootstrap/img/Galletas/Galleta3.png?raw=true'  onClick='galletaFunction(this, 3)' />
					</div>         
					<div class="row">	             
			             <img src='https://github.com/IV-GII/SocialCookies/blob/master/ENV1/webcookies/socialcookies/static/socialcookies/bootstrap/img/Galletas/Galleta4.png?raw=true'  onClick='galletaFunction(this, 4)' />
			             <img src='https://github.com/IV-GII/SocialCookies/blob/master/ENV1/webcookies/socialcookies/static/socialcookies/bootstrap/img/Galletas/Galleta5.png?raw=true'  onClick='galletaFunction(this, 5)' />
			             <img src='https://github.com/IV-GII/SocialCookies/blob/master/ENV1/webcookies/socialcookies/static/socialcookies/bootstrap/img/Galletas/Galleta6.png?raw=true'  onClick='galletaFunction(this, 6)' />
				             
					    <div>
					    <p>Seleccione el modelo de galleta que mas le guste, solo se permite un modelo (para cambiar de modelo debe deseleccionar primero el modelo marcado) </p>
					    </div><!--/span-->
					</div>
				
				    <div class="hero-unit">
				                <br><br>
				           <p><a class="btn btn-primary btn-large"  onClick='mostrarPedido()'>  Gestionar pedido   </a></p>
					</div>
                </div>
            </div>
		</div>
	
	% elif seccion == "contacto":
            <div class="container">
            <div class="row section">
                <div class="col-lg-12">
                    <h1>Contacto</h1>
                    <form action="contacto/" method="post">
		                ${formulario}
		                <input type="hidden" name="csrfmiddlewaretoken" value="${ csrftoken }" />
		                <br>
		                <input type="submit" value="Enviar"/>
                    </form>
                </div>
            </div>
        % endif


    % if seccion == "index":
        <div class="row">
    		<div class="col-xs-6 col-md-3">
    			<a href="#" class="thumbnail">
    	  			<img src="${path}img/prueba.jpg" alt="imagen1">
    			</a>
      		</div>
      		<div class="col-xs-6 col-md-3">
    			<a href="#" class="thumbnail">
    	  			<img src="${path}img/prueba.jpg" alt="imagen2">
    			</a>
      		</div>
    		<div class="col-xs-6 col-md-3">
    			<a href="#" class="thumbnail">
    	  			<img src="${path}img/prueba.jpg" alt="imagen3">
    			</a>
      		</div>
    		<div class="col-xs-6 col-md-3">
    			<a href="#" class="thumbnail">
    	  			<img src="${path}img/prueba.jpg" alt="imagen1">
    			</a>
      		</div>
    	</div>

        <br /><br />
    % endif
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
</body>

</html>
