<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SocialCookies</title>

    <!-- Bootstrap core CSS -->
    <link href="${path}css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="${path}css/half-slider.css" rel="stylesheet">
    
    <!-- Add form CSS here -->
    <link href="${path}css/estilo.css" rel="stylesheet" media="screen">
            
    <!-- Add instagram CSS here -->
    <link href="${path}css/style.css" rel="stylesheet">
    

    <script LANGUAGE="JavaScript" src="${path}js/jquery-1.10.2.js"></script>
    <script LANGUAGE="JavaScript" src="${path}js/bootstrap.min.js"></script>

    <script type='text/javascript'>
        
        var elegidos = new Array();
	    var tipo_galleta =  new Array();
	    
	    function imgFunction(objeto, url){       	
			indice = elegidos.indexOf(url);
				    
			if( indice == -1 ){
				//objeto.style.border="4px solid #00bfa8";
				objeto.style.opacity=0.4;
			    elegidos.push(url);
			} 
			else{
				//objeto.style.border="none";
			    objeto.style.opacity=1;
			    elegidos.splice(indice,1);
			}
	    }
	
	    function galletaFunction(objeto, url){
						    
			if( tipo_galleta.length == 0){
			    objeto.style.opacity=0.4;
			    tipo_galleta.push(url);
			}			
			else { 
			    objeto.style.opacity=1;
			    tipo_galleta.splice(0,1);
			}
	    }
	
	    function mostrarPedido(){
			var mensaje=' ';
		
			for (var i=0;i<elegidos.length; i++){
			     mensaje = mensaje.concat("Galleta" + i + ":\n");
			     mensaje = mensaje.concat(elegidos[i]);
			     mensaje = mensaje.concat("\n");
			}
			mensaje=mensaje.concat("\n Modelo galleta:\n" + tipo_galleta[0] + "\n");
		
			alert(mensaje);
	    }

    </script>




    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/socialcookies">Social Cookies</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/socialcookies/twitter">Twitter</a>
                    </li>
                    <li><a href="/socialcookies/instagram">Instangram</a>
                    </li>
                    <li><a href="/socialcookies/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    

    % if seccion == "index":
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
		% for p in range(len(fich)):
			% if p==0:
	   		 	<li data-target="#myCarousel" data-slide-to="${p}" class="active"></li>
	   		% else:
	   		 	<li data-target="#myCarousel" data-slide-to="${p}"></li>
	   		% endif
		% endfor 
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
			% for f in fich:
				% if f==fich[0]:
				    <div class="item active">
				        <div class="fill" style="background-image:url('${path}img-slider/${f}');"></div>
				        <div class="carousel-caption">
				            <h1>A Full-Width Image Slider Template</h1>
				        </div>
				    </div>
				% else:
					<div class="item">
				        <div class="fill" style="background-image:url('${path}img-slider/${f}');"></div>
				        <div class="carousel-caption">
				            <h1>A Full-Width Image Slider Template</h1>
				        </div>
				    </div>
				% endif
			% endfor 
        </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>

        <div class="container">
        </div>
        
        
	% elif seccion == "twitter":
        <div class="container">
        
            <div class="row section">
            
                <div class="col-lg-12">
                    <h1>Twitter</h1>
                </div>
                
        	</div>      
        	 
	    <!--container-->

 
	% elif seccion == "instagram":
		<div class="container">
    	
        	<div class="row section">
        	
            	<div class="col-lg-12">
            		<h1> Instagram </h1>
					<h3><font color="#606060">Seleccione sus fotos preferidas y nos encargaremos de hacer las galletas m&aacute;s originales y sabrosas que haya visto nunca.<font color="black"></h3><br>
					
					<%
					t=len(usuario)
					t_popu=len(popular)
					%>
					
					<h4>&iquest;Cu&aacute;l de sus fotos quiere comerse?</h4>
					
					<div class="row">
	
						<div class="instagrams">
							
							<!-- Here is our Mustache template -->
							% for i in range(t):
								<%
								foto 	= usuario[i][0]
								perfil 	= usuario[i][1]
								nombre 	= usuario[i][2]
								%>
								<div class="instagram"  onClick="imgFunction(this, '${foto}')">
									<div class="user">
								    	<img src="${perfil}" />
								    	<h1>${nombre}</h1>
								    </div>
								    <img src="${foto}"/>
								</div>
							% endfor
							
						</div>	
						
					</div>
					
					<h4>&iquest;Cu&aacute;l de las fotos m&aacute;s populares y molonas de la red quiere comerse?</h4>
					
					<div class="row">
					    
						<div class="instagrams">
								
							<!-- Here is our Mustache template -->
							% for i in range(t_popu):
								<%
								foto 	= popular[i][0]
								perfil 	= popular[i][1]
								nombre 	= popular[i][2]
								%>
								<div class="instagram"  onClick="imgFunction(this, '${foto}')">
									<div class="user">
								    	<img src="${perfil}" />
								    	<h1>${nombre}</h1>
								    </div>
								    <img src="${foto}"/>
								</div>
							% endfor
							
						</div>	
				
					</div>
	 
					<h4>&iquest;En qu&eacute; galleta las quieres?</h4>          <!-- Apuntar enlaces a imagenes directamente -->
				    <p>S&oacute;lo se permite un modelo.</p>
			        
			        <div class="row" style="text-align:center; width:100%;">				                                                   	    
					    <img src="${path}img/Galletas/Galleta1.png" onClick='galletaFunction(this, this.src)' width='250' />
					    <img src="${path}img/Galletas/Galleta2.png" onClick='galletaFunction(this, this.src)' width='250' />
					    <img src="${path}img/Galletas/Galleta3.png" onClick='galletaFunction(this, this.src)' width='250' />
					</div>
			        <div class="row" style="text-align:center; width:100%;">		 
					    <img src="${path}img/Galletas/Galleta4.png" onClick='galletaFunction(this, this.src)' width='250' />
					    <img src="${path}img/Galletas/Galleta5.png" onClick='galletaFunction(this, this.src)' width='250' />
					    <img src="${path}img/Galletas/Galleta6.png" onClick='galletaFunction(this, this.src)' width='250' />	             
					<div>
				
				    <div class="hero-unit">
			           <br><br>
			           <p><a class="btn btn-primary btn-large"  onClick='mostrarPedido()'>  Gestionar pedido   </a></p>
					</div>
                </div>
                
            </div>
	
	    <!--container-->
	
	
	% elif seccion == "contacto":
    	<div class="container">
    	
            <div class="row section">
            
                <div class="col-lg-12">
                    <h1>Contacto</h1>
                    <form action="contacto/" method="post">
		                ${formulario}
		                <input type="hidden" name="csrfmiddlewaretoken" value="${ csrftoken }" />
		                <br>
		                <input type="submit" value="Enviar"/>
                    </form>
                </div>
                
        	</div>      
        	 
	    <!--container-->

	% endif


    % if seccion == "index":
        <!--<div class="row">
    		<div class="col-xs-6 col-md-3">
    			<a href="#" class="thumbnail">
    	  			<img src="${path}img/prueba.jpg" alt="imagen1">
    			</a>
      		</div>
      		<div class="col-xs-6 col-md-3">
    			<a href="#" class="thumbnail">
    	  			<img src="${path}img/prueba.jpg" alt="imagen2">
    			</a>
      		</div>
    		<div class="col-xs-6 col-md-3">
    			<a href="#" class="thumbnail">
    	  			<img src="${path}img/prueba.jpg" alt="imagen3">
    			</a>
      		</div>
    		<div class="col-xs-6 col-md-3">
    			<a href="#" class="thumbnail">
    	  			<img src="${path}img/prueba.jpg" alt="imagen1">
    			</a>
      		</div>

        <br /><br />-->
        
    % endif
    
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>
        
    </div>
    <!-- /.container -->
</body>

</html>
