<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SocialCookies</title>

    <!-- Bootstrap core CSS -->
    <link href="${path}css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="${path}css/half-slider.css" rel="stylesheet">
    
    <!-- Add form CSS here -->
    <link href="${path}css/estilo.css" rel="stylesheet" media="screen">
            
    <!-- Add instagram CSS here -->
    <link href="${path}css/style.css" rel="stylesheet">
    
    
    <!-- Custom Google Web Font --> <!-- En bootstrap.css --> <!-- 400 normal, 700 bold -->
    <link href="http://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet" type="text/css" />
    

    <script LANGUAGE="JavaScript" src="${path}js/jquery-1.10.2.js"></script>
    <script LANGUAGE="JavaScript" src="${path}js/bootstrap.min.js"></script>

    <script type='text/javascript'>
        
        var elegidos = new Array();
	    var tipo_galleta =  new Array();
	    
	    function imgFunction(objeto, url){       	
			indice = elegidos.indexOf(url);
				    
			if( indice == -1 ){
				//objeto.style.border="4px solid #00bfa8";
				objeto.style.opacity=0.4;
			    elegidos.push(url);
			} 
			else{
				//objeto.style.border="none";
			    objeto.style.opacity=1;
			    elegidos.splice(indice,1);
			}
	    }
	
	    function galletaFunction(objeto, url){
						    
			if( tipo_galleta.length == 0){
			    	objeto.style.opacity=0.4;
			    	tipo_galleta.push(url);
			}			
			else if (tipo_galleta[0]==url) { 
			    	objeto.style.opacity=1;
			    	tipo_galleta.splice(0,1);
			}
	    }
	
	    function mostrarPedido(){
			var mensaje=' ';
		
			for (var i=0;i<elegidos.length; i++){
			     mensaje = mensaje.concat("Galleta" + i + ":\n");
			     mensaje = mensaje.concat(elegidos[i]);
			     mensaje = mensaje.concat("\n");

			     document.getElementById("URL_"+ i).value = elegidos[i];    //No pueden ser mas de 10
			//alert("URL_"+ i)
			}
			mensaje=mensaje.concat("\n Modelo galleta:\n" + tipo_galleta[0] + "\n");
			document.getElementById("formPed").submit();
			//alert(mensaje);
	    }

		function Github(nombre){
			window.open("https://www.github.com/"+nombre.substring(0, nombre.length-4) );
		}

    </script>




    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/socialcookies">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                	<li><a href="/socialcookies/instagram">Conecta con Instagram</a>
                    </li>
                    <li><a href="/socialcookies/twitter">Conecta con Twitter</a>
                    </li>
                    <li><a href="/socialcookies/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
		% for p in range(len(fich)):
			% if p==0:
	   		 	<li data-target="#myCarousel" data-slide-to="${p}" class="active"></li>
	   		% else:
	   		 	<li data-target="#myCarousel" data-slide-to="${p}"></li>
	   		% endif
		% endfor 
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
			% for f in fich:
				% if f==fich[0]:
				    <div class="item active">
				% else:
					<div class="item">
				% endif
				        <div class="fill" style="background-image:url('${path}img-slider/${f}'); opacity:0.7;"></div>
				        <div class="carousel-caption">
				            
							<h1><cabecera-carousel> << Social Cookies >> </cabecera-carousel></h1>	
					
		               		<h3><p-carousel>
		               		<img src="${path}img/Galletas/Galleta.png" width='50' />
		               		C&oacute;mete tus fotos favoritas
		               		<img src="${path}img/Galletas/Galleta.png" width='50' />
		               		</p-carousel><h3>
		                   		
				        </div>
					</div>
			% endfor 
        </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>

        <div class="container">
        </div>
        
        
	% if seccion == "twitter":
        <div class="container">
        
            <div class="row section">
            
                <div class="col-lg-12">
                
                    <h2><text-carousel> Twitter <text-carousel></h2>
	                <br><br>
	                
	                <h3><font color="#606060">En construcci&oacute;n.<font color="black"></h3>
	                
                </div>
                
        	</div>      
        	 
	    <!--container-->

 
	% elif seccion == "instagram":
		<div class="container">
    	
        	<div class="row section">
        	
            	<div class="col-lg-12">
            	
   					<h2><text-carousel> Instagram <text-carousel></h2>
   					
					<h3><font color="#606060">Seleccione sus fotos preferidas y nos encargaremos de hacer las galletas m&aacute;s originales y sabrosas que haya visto nunca.<font color="black"></h3>
					<br><br>
					
					<%
					t=len(usuario)
					t_popu=len(popular)
					%>
					
					<h4>&iquest;Cu&aacute;l de sus fotos quiere comerse?</h4>
					
					<div class="row">
	
						<div class="instagrams">
							
							<!-- Here is our Mustache template -->
							% for i in range(t):
								<%
								foto 	= usuario[i][0]
								perfil 	= usuario[i][1]
								nombre 	= usuario[i][2]
								%>
								<div class="instagram"  onClick="imgFunction(this, '${foto}')">
									<div class="user">
								    	<img src="${perfil}" />
								    	<h1>${nombre}</h1>
								    </div>
								    <img src="${foto}"/>
								</div>
							% endfor
							
						</div>	
						
					</div>
					
					<h4>&iquest;Cu&aacute;l de las fotos m&aacute;s populares y molonas de la red quiere comerse?</h4>
					
					<div class="row">
					    
						<div class="instagrams">
								
							<!-- Here is our Mustache template -->
							% for i in range(t_popu):
								<%
								foto 	= popular[i][0]
								perfil 	= popular[i][1]
								nombre 	= popular[i][2]
								%>
								<div class="instagram"  onClick="imgFunction(this, '${foto}')">
									<div class="user">
								    	<img src="${perfil}" />
								    	<h1>${nombre}</h1>
								    </div>
								    <img src="${foto}"/>
								</div>
							% endfor
							
						</div>	
				
					</div>
	 
					<h4>&iquest;En qu&eacute; galleta las quieres?</h4>          <!-- Apuntar enlaces a imagenes directamente -->
				    <p>S&oacute;lo se permite un modelo.</p>
			        
			        <div class="row" style="text-align:center; width:100%;">				                                                   	    
					    <img src="${path}img/Galletas/Galleta1.png" onClick='galletaFunction(this, this.src)' width='250' />
					    <img src="${path}img/Galletas/Galleta2.png" onClick='galletaFunction(this, this.src)' width='250' />
					    <img src="${path}img/Galletas/Galleta3.png" onClick='galletaFunction(this, this.src)' width='250' />
					</div>
			        <div class="row" style="text-align:center; width:100%;">		 
					    <img src="${path}img/Galletas/Galleta4.png" onClick='galletaFunction(this, this.src)' width='250' />
					    <img src="${path}img/Galletas/Galleta5.png" onClick='galletaFunction(this, this.src)' width='250' />
					    <img src="${path}img/Galletas/Galleta6.png" onClick='galletaFunction(this, this.src)' width='250' />	             
					<div>
				
				    <div class="hero-unit">
			           <br><br>

			          
					</div>

					<form id="formPed" action="contacto?q=1" method="post">
		                ${formulario}
		                <input type="hidden" name="csrfmiddlewaretoken" value="${ csrftoken }" />
		                <br>
		                <input class="btn btn-primary btn-large"   onClick='mostrarPedido()'   value="Enviar"/> 
                    </form>

                </div>
                
            </div>
	
	    <!--container-->
	
	
	% elif seccion == "contacto":
    	<div class="container">
    	
            <div class="row section">
            
                <div class="col-lg-12">
                
                    <h2><text-carousel> Contacto </text-carousel></h2>
                    <br><br>
                    
                    <form action="contacto?q=2" method="post">
		                ${formulario2}
		                <input type="hidden" name="csrfmiddlewaretoken" value="${ csrftoken }" />
		                <br>
		                <input type="submit" value="Enviar"/>
                    </form>

                    
		                ${formulario}
		              
                    </form>
                </div>
                
        	</div>      
        	 
	    <!--container-->

	% endif


    % if seccion == "index":
    
        <div class="container">
        
            <div class="row section">
            
                <div class="col-lg-12">
                    <h2><text-carousel> Equipo </text-carousel></h2>
                    
                    <h4><font color="#606060">
                    Somos un grupo de alumnos de &uacute;ltimo curso del Grado en Ingenier&iacute;a Inform&aacute;tica que ha desarrollado un proyecto real presentado por una empresa asociada a Cocoroc&oacute;.
				    <font color="black"></h4>
					<br><br>
					
					<%
					equipo = []
					equipo.append("Ana Bel&eacute;n")
					equipo.append("Francisco Manuel")
					equipo.append("Jos&eacute;")
					equipo.append("Antonio")
					equipo.append("&Oacute;scar")
					equipo.append("Pedro")
					equipo.append("Roge")
					equipo.append("Jaime")
					%>
			        
			        <div class="grises">
				        <div class="row">				                                                   	    
						    <div class="text-center">
						    	<% i = 0 %>
								% for f in fotos:
									%if i%4==0:
											</div>
										</div>
										<div class="row">				                                                   	    
						    				<div class="text-center">
									%endif
									<div class="col-xs-6 col-sm-3">
										<a onclick="Github('${f}')" target='nueva'><img src="${path}img/authors/${f}" width='150' class="img-circle"></a>
										<h5>${equipo[i]}</h5>
									</div>
									<% i+=1 %>
									
								% endfor
							</div>
						</div>
						
						<br><br><br><br>
										    
					    <div class="row">				                                                   	    
						    <div class="text-center">
								<div class="col-xs-6 col-sm-6">
									<a href="http://geneura.ugr.es/~jmerelo/" target='nueva'><img src="${path}img/profesores/jj.jpg" alt="Foto equipo 1" width='150' class="img-circle"></a>
									<h5>JJ</h5>
									
								</div>
								<div class="col-xs-6 col-sm-5">
									<a href="http://www.zerjio.com/" target='nueva'><img src="${path}img/profesores/zerjio.jpg" alt="Foto equipo 1" width='150' class="img-circle"></a>
									<h5>Zerjillo</h5>
								</div>
							</div>
						</div>
					</div>
					
                </div>
                
        	</div>      
        	 
	    <!--container-->
    	
    	    
    % endif
    	<br><br><br>
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>
        
    </div>
    <!-- /.container -->
</body>

</html>
